<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPReachHostName</key>
	<string>www.baidu.com</string>
	<key>HPDistributionKey</key>
	<dict>
		<key>HPBaseUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPSSLUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPImageUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
	</dict>
	<key>HPGrayEnvironmentKey</key>
	<dict>
		<key>HPBaseUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPSSLUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPImageUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
	</dict>
	<key>HPDevelopmentKey</key>
	<dict>
		<key>HPBaseUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPSSLUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPImageUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
	</dict>
	<key>HPPersonalKey</key>
	<dict>
		<key>HPBaseUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPSSLUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
		<key>HPImageUrlKey</key>
		<string>http://118.190.149.109:8081/</string>
	</dict>
	<key>HPAPI_Service</key>
	<dict>
		<key>SearchFoodKeyWord</key>
		<dict>
			<key>dessc</key>
			<string>关键词搜索</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/search?doSearch</string>
		</dict>
		<key>foodsOrderInfo</key>
		<dict>
			<key>dessc</key>
			<string>直接点餐</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/order?reserve</string>
		</dict>
		<key>seatInfo</key>
		<dict>
			<key>dessc</key>
			<string>获取座位信息</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/reserve?find</string>
		</dict>
		<key>saveORupdate</key>
		<dict>
			<key>dessc</key>
			<string>收藏商家</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/include?saveORupdate</string>
		</dict>
		<key>RHToken</key>
		<dict>
			<key>dessc</key>
			<string>融云token</string>
			<key>api</key>
			<string>http://api.cn.ronghub.com/user/getToken.json</string>
		</dict>
		<key>SearchHotTip</key>
		<dict>
			<key>desc</key>
			<string>热门搜索</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/search?view</string>
		</dict>
		<key>SearchHistoryTip</key>
		<dict>
			<key>desc</key>
			<string>历史搜索</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/search?userSearch</string>
		</dict>
		<key>FindCompany</key>
		<dict>
			<key>api</key>
			<string>Dz/company</string>
			<key>desc</key>
			<string>商家详情页</string>
		</dict>
		<key>AddToCart</key>
		<dict>
			<key>api</key>
			<string>Dz/shop?save</string>
			<key>desc</key>
			<string>加入购物车</string>
		</dict>
		<key>DeleteFromCart</key>
		<dict>
			<key>api</key>
			<string>Dz/shop?sub</string>
			<key>desc</key>
			<string>从购物车删除</string>
		</dict>
		<key>CreateOrder</key>
		<dict>
			<key>api</key>
			<string>Dz/order?createOrder</string>
			<key>desc</key>
			<string>提交订单</string>
		</dict>
		<key>CompanyAllGoods</key>
		<dict>
			<key>api</key>
			<string>Dz/goods?cTogoods</string>
			<key>desc</key>
			<string>商家商品列表</string>
		</dict>
		<key>CompanyAllGoodClassify</key>
		<dict>
			<key>api</key>
			<string>Dz/ification?getFication</string>
			<key>desc</key>
			<string>商家商品分类</string>
		</dict>
		<key>API_POST_WECHAT_PAY</key>
		<dict>
			<key>api</key>
			<string>Dz/order</string>
			<key>desc</key>
			<string>微信支付</string>
		</dict>
		<key>Login</key>
		<dict>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/user/login</string>
			<key>desc</key>
			<string>登录</string>
		</dict>
		<key>loginWithToken</key>
		<dict>
			<key>desc</key>
			<string>token登录获取用户信息</string>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/user?info</string>
		</dict>
		<key>Register</key>
		<dict>
			<key>api</key>
			<string>http://118.190.149.109:8081/Dz/user?saveORupdate</string>
			<key>desc</key>
			<string>注册</string>
		</dict>
		<key>HTTP_POST_QuitRoom</key>
		<dict>
			<key>api</key>
			<string>room/quit</string>
			<key>desc</key>
			<string>退出房间</string>
		</dict>
		<key>HTTP_GET_FastJoinRoom</key>
		<dict>
			<key>api</key>
			<string>room/fastAdd</string>
			<key>desc</key>
			<string>快速加入房间接口</string>
		</dict>
		<key>HTTP_POST_CheckAllRoom</key>
		<dict>
			<key>api</key>
			<string>room/getView</string>
			<key>desc</key>
			<string>查询所有房间</string>
		</dict>
		<key>HTTP_POST_CheckGameIsAction</key>
		<dict>
			<key>api</key>
			<string>game/isAction</string>
			<key>desc</key>
			<string>是否正在游戏</string>
		</dict>
		<key>HTTP_POST_GetDiceNumber</key>
		<dict>
			<key>api</key>
			<string>game/getMath</string>
			<key>desc</key>
			<string>获取色字点数</string>
		</dict>
		<key>HTTP_POST_VerifyCode</key>
		<dict>
			<key>api</key>
			<string>user/sendMessage</string>
			<key>desc</key>
			<string> 发送验证码</string>
		</dict>
		<key>HTTP_POST_UserReady</key>
		<dict>
			<key>api</key>
			<string>user/ready</string>
			<key>desc</key>
			<string>准备好</string>
		</dict>
		<key>HTTP_POST_UserStatus</key>
		<dict>
			<key>api</key>
			<string>game/isAction</string>
			<key>desc</key>
			<string>获取游戏状态</string>
		</dict>
		<key>HTTP_POST_Push</key>
		<dict>
			<key>api</key>
			<string>game/isPsuh</string>
			<key>desc</key>
			<string>轮询谁先开始出筛子数目</string>
		</dict>
		<key>HTTP_POST_SendPush</key>
		<dict>
			<key>api</key>
			<string>game/sendPush</string>
			<key>desc</key>
			<string>发送叫色数量</string>
		</dict>
		<key>HTTP_POST_OpenPush</key>
		<dict>
			<key>api</key>
			<string>game/openPush</string>
			<key>desc</key>
			<string>开或者劈</string>
		</dict>
		<key>HTTP_POST_ResultPush</key>
		<dict>
			<key>api</key>
			<string>game/resultPush</string>
			<key>desc</key>
			<string>获取结果</string>
		</dict>
		<key>HTTP_POST_Register</key>
		<dict>
			<key>api</key>
			<string>user/register</string>
			<key>desc</key>
			<string>注册</string>
		</dict>
		<key>HTTP_POST_CancelReady</key>
		<dict>
			<key>api</key>
			<string>user/unReady</string>
			<key>desc</key>
			<string>取消准备</string>
		</dict>
		<key>HTTP_POST_FetchBalance</key>
		<dict>
			<key>api</key>
			<string>user/getBalance</string>
			<key>desc</key>
			<string>获取金豆数量</string>
		</dict>
		<key>HTTP_POST_AddFriend</key>
		<dict>
			<key>api</key>
			<string>user/addFriend</string>
			<key>desc</key>
			<string>添加好友接口</string>
		</dict>
		<key>HTTP_POST_FriendList</key>
		<dict>
			<key>api</key>
			<string>user/listFriend</string>
			<key>desc</key>
			<string>好友列表</string>
		</dict>
		<key>HTTP_POST_SearchFriend</key>
		<dict>
			<key>api</key>
			<string>user/searchFriend</string>
			<key>desc</key>
			<string>搜索好友</string>
		</dict>
		<key>HTTP_POST_AcceptFriend</key>
		<dict>
			<key>api</key>
			<string>user/acceptFriend</string>
			<key>desc</key>
			<string>好友列表</string>
		</dict>
		<key>HTTP_POST_GetUserInfo</key>
		<dict>
			<key>api</key>
			<string>user/get</string>
			<key>desc</key>
			<string>获取好友资料</string>
		</dict>
		<key>HTTP_POST_WinnerRank</key>
		<dict>
			<key>api</key>
			<string>user/getWin</string>
			<key>desc</key>
			<string>胜局榜接口</string>
		</dict>
		<key>HTTP_POST_ChangeUserName</key>
		<dict>
			<key>api</key>
			<string>user/updateNick</string>
			<key>desc</key>
			<string>修改用户名称</string>
		</dict>
		<key>HTTP_POST_GetNumInGame</key>
		<dict>
			<key>api</key>
			<string>game/getNum</string>
			<key>desc</key>
			<string>获取局数接口（自动准备）</string>
		</dict>
	</dict>
</dict>
</plist>
